
html, body {
  height: 100%;
  min-height: 100%;
}
.demo-layout-transparent {
  /*background: url('../IMG/matematica.jpg') center / cover;*/
    background: #222;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
.container{
    color: white;
    
}
#corpo{

}
a:hover{
    text-decoration-line: none;
    text-decoration: none;
}